<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Facebook Blocker</title>
    <style>
        body {
            width: 400px;
            padding-top: 15px;
            padding-bottom: 15px;
        }

        .name {
            margin: 0;
        }

        .header--adjusted {
            margin-bottom: 15px;
        }

        .well > p:last-child {
            margin-bottom: 0;
        }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body class="container">

<header class="row header--adjusted">
    <div class="col-xs-4">
        <img src="../assets/icon_128.png" alt="" class="img-thumbnail" aria-hidden="true">
    </div>
    <div class="col-xs-7 text-center">
        <h1 class="name">Facebook Blocker</h1>
    </div>
</header>

<div class="well">
    <p>This extension allows you blocking other users who don't know about being blocked.</p>
    <p>It means you won't see any content posted by blocked users and they won't know about it.</p>
    <p>You can also use a Facebook <i>"Block"</i> option on user's profile but most probably the user finds out about that.</p>
</div>

<div class="panel panel-danger">
    <div class="panel-heading">
        <h2 class="panel-title">
            Block new user
        </h2>
    </div>
    <div class="panel-body">
        <form action="#" id="block-new-user">
            <label for="user-profile">Profile ID or name</label>

            <fieldset class="form-group" id="user-profile-group">
                <div class="input-group">
                    <span class="input-group-addon" aria-hidden="true">
                        <i class="glyphicon glyphicon-user"></i>
                    </span>
                    <input type="text" class="form-control" id="user-profile" placeholder="Profile ID or name" aria-describedby="user-profile-help">
                    <span class="input-group-btn">
                        <button class="btn btn-danger" type="submit"><b>Disable!</b></button>
                    </span>
                </div>
                <span class="help-block hidden" id="user-profile-error" aria-hidden="true"></span>
                <span class="help-block">
                    <button type="button" class="btn btn-link btn-xs" id="user-profile-help-title">Where can I find the ID or name?</button>
                </span>
                <ul id="user-profile-help" class="help-block list-unstyled hidden">
                    <li><small>https://www.facebook.com/profile.php?id=<span class="label label-default">1XXXXXXXXXXXXXX</span></small></li>
                    <li><small>https://www.facebook.com/<span class="label label-default">users-profile-name</span></small></li>
                </ul>
            </fieldset>
        </form>
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h2 class="panel-title">
            Blocked users
        </h2>
    </div>
    <table class="table table-bordered table-striped table-condensed table-hover">
        <thead>
        <tr>
            <th width="40%">Profile</th>
            <th colspan="2">Added</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>pomekPL</td>
            <td>21.11.2016 11:30</td>
            <td class="text-center">
                <button type="button" class="btn btn-danger btn-sm">
                    <i class="glyphicon glyphicon-remove"></i>
                </button>
            </td>
        </tr>
        <tr>
            <td>pomekPL</td>
            <td>21.11.2016 11:30</td>
            <td class="text-center">
                <button type="button" class="btn btn-danger btn-sm">
                    <i class="glyphicon glyphicon-remove"></i>
                </button>
            </td>
        </tr>
        <tr>
            <td>pomekPL</td>
            <td>21.11.2016 11:30</td>
            <td class="text-center">
                <button type="button" class="btn btn-danger btn-sm">
                    <i class="glyphicon glyphicon-remove"></i>
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<script src="../dist/settings.js"></script>

</body>
</html>
